<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.os1.start_android_education">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Main_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lesson1_BasicViews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lesson2_ScreenOrientation" />
        <activity
            android:name=".Lesson3_Layouts" />
        <activity
            android:name=".Lesson3_LinearLayout"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Lesson3_TableLayout"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Lesson3_RelativeLayout"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson3_AbsoluteLayout"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson4_LayoutProperties"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson4_LayoutWeight"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson4_LayoutGravity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Lesson4_LayoutMargin"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Lesson5_ViewById"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson6_OnClickButtons"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson7_ResValuesFolder"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson8_SimpleMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson9_AdvancedMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson10_ContextMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson11_DynamicLayout"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson12_DynamicLayout2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson13_DynamicLayout3"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson14_SimpleCalculator"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson15_SimpleAnimation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson16_TwoActivities"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson16_SecondActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson17_ActivityStates"/>
        <activity
            android:name=".Lesson18_TwoActivityStates"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson18_SecondActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson19_IntentFilter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson19_ShowTime"
            android:screenOrientation="portrait" >

            <intent-filter>

                <action android:name="com.example.os1.start_android_education.action.showtime" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity
            android:name=".Lesson19_ShowDate"
            android:label="Date basic"
            android:screenOrientation="portrait" >

            <intent-filter>

                <action android:name="com.example.os1.start_android_education.action.showdate" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity
            android:name=".Lesson19_ShowDateExtended"
            android:label="Date extended"
            android:screenOrientation="portrait" >

            <intent-filter>

                <action android:name="com.example.os1.start_android_education.action.showdate" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity
            android:name=".Lesson19_ShowTimeOrDate"
            android:label="Time/Date info"
            android:screenOrientation="portrait" >

            <intent-filter>

                <action android:name="com.example.os1.start_android_education.action.showtime" />
                <action android:name="com.example.os1.start_android_education.action.showdate" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity
            android:name=".Lesson20_IntentExtras"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson20_ViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson21_SimpleActivityResult"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson21_NameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson22_ActivityResult"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson22_ColorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson22_AlignActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson23_SimpleIntents"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson24_SimpleBrowser"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson24_BrowserActivity"
            android:label="MySimpleBrowser"
            android:screenOrientation="portrait" >

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity
            android:name=".Lesson25_SharedPreferences"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson26_SimpleSQLite"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson27_SQLiteQuery"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson28_SQLiteInnerJoin"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson29_SQLiteTransaction"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson30_LayoutInflater"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson31_LayoutInflaterList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson32_SimpleList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson33_SimpleListChoice"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson34_SimpleListEvents"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson35_ExpandableList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson36_ExpandableListEvents"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson37_SimpleAdapter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson38_SimpleAdapterCustom1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson39_SimpleAdapterCustom2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson40_SimpleAdapterData"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson41_SimpleCursorAdapter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Lesson42_SimpleCursorTreeAdapter"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
